{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idaccount</th>
                <th>Idproject</th>
                <th>Originalproject</th>
                <th>Banner</th>
                <th>Interstitial</th>
                <th>Creationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.id }}</a></td>
                <td>{{ ad.idAccount }}</td>
                <td>{{ ad.idProject }}</td>
                <td>{{ ad.originalProject }}</td>
                <td>{{ ad.banner }}</td>
                <td>{{ ad.interstitial }}</td>
                <td>{% if ad.creationDate %}{{ ad.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'id': ad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
