{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Isenabled</th>
                <th>Creationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('account_show', { 'id': account.id }) }}">{{ account.id }}</a></td>
                <td>{{ account.name }}</td>
                <td>{{ account.owner }}</td>
                <td>{% if account.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if account.creationDate %}{{ account.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('account_show', { 'id': account.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit', { 'id': account.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
